@import '../../styles/mixins';
@import '../../styles/variables';

.landing-page-container {
  @include flex (column, center, center);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero-image.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
}

.greeting-message,
.welcome-message-header
{
  font-size: 1rem;
  width: 80%;
  text-align: center;
  color: $white;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bolder;
}

.winner-container {
  @include flex(column, space-around, center);
    width: 35%;
    height: 40%;
    margin: 50px;
    border: solid 2px $black;
    background: $black-transparent;
    color: $white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.winner-title-container {
  font-size: 2rem;
}

.winner-name-container {
  font-size: 2rem;
}

.winner-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
}

.welcome-message-header {
  top: 20%;
  font-size: 2rem;
  font-weight: bolder;
}

.hero-button {
  cursor: pointer;
  position: relative;
  padding: 5px 30px;
  background: $white;
  font-size: 1.6rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  border: solid 3px $black;
  height: 35px;
  color: $black;
    &:after, &:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid $white;
      transition:all 1s;
    }
    &:after {
      top:-1px;
      left:-1px;
      border-top:7px solid $dark-orange;
      border-left:7px solid $dark-orange;
    }
   &:before {
      bottom:-1px;
      right:-1px;
      border-bottom:7px solid $dark-orange;
      border-right:7px solid $dark-orange;
    }
    &:hover {
      border-top-right-radius:0px;
      border-bottom-left-radius:0px;
  
      &:before,&:after {
       width:100%;
        height:100%;
    }
  }
}

.loading-container {
  @include flex(row, center, center);
  height: 100vh;
  width: 100%;
}

.scroll {
  @include flex(column, none, center);
  height: 50%;
  width: 75%;
}