@import '../../styles/mixins';
@import '../../styles/variables';

.landing-page-container {
  @include flex (column, center, center);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero-image.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
}

.greeting-message,
.welcome-message-header
{
  font-size: 1rem;
  width: 80%;
  text-align: center;
  color: $white;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bolder;
}

.winner-container {
  @include flex(column, space-around, center);
    width: 35%;
    height: 40%;
    margin: 50px;
    border: solid 2px $black;
    background: $black-transparent;
    color: $white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.winner-title-container {
  font-size: 2rem;
}

.winner-name-container {
  font-size: 2rem;
}

.hero-button {
  width: 15%;
  font-size: 2.2vh;
  background-color: teal;
  padding: 15px;
  text-decoration: none;
  border-radius: 20px;
  top: 60%;
}