.landing-page-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero-image.jpeg");
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome-message,
.welcome-message-header,
.submission-dates-header,
.submission-dates-april,
.submission-dates-may,
.hero-button {
  font-size: 2.5vh;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.welcome-message-header {
  top: 20%;
}

.submission-dates-header {
  top: 40%;
}

.submission-dates-april {
  top: 45%;
}

.submission-dates-may {
  top: 50%;
}

.hero-button {
  width: 15%;
  font-size: 2.2vh;
  background-color: teal;
  padding: 15px;
  text-decoration: none;
  border-radius: 20px;
  top: 60%;
}