@import '../../styles/mixins';
@import '../../styles/variables';

.mobile-nav-wrapper {
  @include flex(column, center, center);
  z-index: 1;
  width: 20%;
  position: absolute;
  background-color: $gray;
  opacity: 0;
  visibility: hidden;
  height: 0%;
  transition: opacity 0.75s, visibility 0.75s, height 0.75s;
  overflow: hidden;
  right: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mobile-nav-wrapper.open {
  opacity: 1;
  visibility: visible;
  height: 25%;
  background: $gray;
  overflow-x:hidden;
  width: 20%;
  right: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mobile-link {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: #1c2541;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0 0.5rem;
}

.mobile-link.active {
  color: #42579a;
  background-color: #617D8A;
  border-radius: 5px;
  width: 100%;
}
