@import '../../styles/mixins';

.card {
  justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 410px;
    width: 310px;
    margin: 20px;
    font-family: sans-serif;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    transition: all 0.2s ease-in-out 0s;
    justify-content: space-around;

  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 40px rgba(orange, .3);
		top: -4px;
  }
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
}

.card-name,
.card-song-title {
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.star-icon {
  height: 40px;
  width: 40px;
  margin-left: 80%;
  font-weight: 700;
  font-size: 1.125em;
  transition: all 0.15s ease-in-out 0s;

  &:hover {
    transform: scale(1.5, 1.5);
  }
}

a {
  text-decoration: none;
}