$gray: #23282D;
$white: white;
$black-transparent: #02020273;
$black: black;
$shadow-black: #161919;
$dark-orange: #b94625;
$orange: orange;
$gold: #fec84e;
$light-gray: #7e8484;
$teal: rgb(4, 97, 97);