@import '../../styles/mixins';

.admin-page {
  height: 100%;
  width: 100%;
  @include flex(column, flex-start, center);
}

.profile-img {
  width: 100px;
  height: auto;
}

.card-container {
  display: grid;
  
}