@import '../../styles/mixins';

.modal-background {
  @include flex(row, center, center);
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 1;
}

.modal-container {
  @include flex(column, space-between, center);
  background-color: white;
  width: 500px;
  height: 250px;
  border-radius: 5px;
  box-shadow:rgba(0, 0, 0, 0.25) 2px 5px 10px;
}

.x-button-container {
  @include flex(row, flex-end, center);
  width: 100%;
  height: 50px;
}

.x-button {
  margin: 20px;

  &:hover {
    cursor: pointer;
  }
}

.modal-text-container {
  height: 125px;
  @include flex(row, center, center);
}

.modal-text {
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.confirm-buttons-container {
  height: 75px;
}

.confirm-button {
  margin: 20px;
  width: 150px;
  
  &:hover {
    cursor: pointer;
  }
}