.submission-details {
  display: flex;
  width: 22vw;
  height: 55vh;
  /* margin-top: 38px; */
  border: 5px solid #fec84e;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #0d0d0d;
  color: white;
  max-width: 73rem;
  margin: 6rem 0 0;
  border-radius: 0.4rem;
  padding: 7.5rem 2.5rem 1rem;
}

.submission-video {
  /* border: solid 2px black; */
  width: 56vw;
  height: 60vh;
  margin-top: 96px;
}

.details-picture {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0px auto;
  /* display: block; */
  border-radius: 50%;
  background:#fec84e;
  padding: 5px;
}

.details-card-container {
  display: flex;
  flex-direction: column;
}

.submission-detail {
  padding: 30px;
  text-align: center;
  font-size: 1.5rem;
}

// .details-picture-container {
//   display: flex;
// }

.intro {
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
}