.submission-details {
  display: flex;
  justify-content: center;
  width: 40vw;
  height: 60vh;
  margin-top: 80px;
  border: 1px solid black;
}

.submission-video {
  background-color: pink;
  width: 50vw;
  height: 60vh;
  margin-top: 80px;
}

.details-picture {
  width:160px;
  height:160px;
  margin-top: 15px;
}

.details-card-container {
  display: flex;
  flex-direction: column;
}

.submission-detail {
  padding: 30px;
  margin-left: 50px;
}