@import '../../styles/mixins';
@import '../../styles/variables';

.submission-details {
  @include flex(column, none, center);
  width: 22vw;
  height: 55vh;
  border: 5px solid $gold;
  position: relative;
  background: $black;
  color: $white;
  max-width: 73rem;
  margin: 6rem 0 0;
  border-radius: 0.4rem;
  padding: 7.5rem 2.5rem 1rem;
}

.submission-video {
  width: 56vw;
  height: 60vh;
  margin-top: 96px;
}

.details-picture {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0px auto;
  border-radius: 50%;
  background: $gold;
  padding: 5px;
}

.details-card-container {
  display: flex;
  flex-direction: column;
}

.submission-detail {
  padding: 30px;
  margin-left: 50px;
}