@import '../../styles/mixins';

  .navigation-wrapper {
    background-color: #23282D;
    z-index: 3;
    padding: 0 1.5rem;

    .navigation-header {
      height: 73px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navigation-names > a > div {
        display: none;
      }

      .navigation-links {
        .mobile-menu {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 2rem;
          height: 2rem;
          background: transparent;
          border: none;
          padding: 0;
          right: 1.5rem;
          top: 20px;
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }

        .bar-one,
        .bar-two,
        .bar-three {
          width: 2rem;
          height: 0.25rem;
          background: white;
          border-radius: 10px;
          transition: all 0.3s linear;
          position: relative;
          transform-origin: 1px;
        }

        .bar-one {
          transform: translateX(0);
        }

        .bar-two {
          opacity: 1;
          transform: translateX(0);
        }

        .bar-three {
          transform: rotate(0);
        }
      }

      .open {
        .bar-one {
          transform: rotate(45deg);
        }
        .bar-two {
          opacity: 0;
          transform: translateX(20px);
        }
        .bar-three {
          transform: rotate(-45deg);
        }
      }
    }
  }

h1 {
  color: #FFF;
  text-align: center;
  font-size: 2rem;
}


img {
  width: 80px;
}

.button-menu-container {
  @include flex(row, flex-end, center);
}

.login-button {
    cursor:pointer;
    position:relative;
    padding:2px 40px;
    background:white;
    font-size:1.2rem;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    border: solid 3px black;
    margin-right: 48%;
    height: 37px;
      &:after, &:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #fff;
        transition:all 1s;
      }
      &:after {
        top:-1px;
        left:-1px;
        border-top:4px solid #b94625;
        border-left:4px solid #b94625;
      }
     &:before {
        bottom:-1px;
        right:-1px;
        border-bottom:4px solid #b94625;
        border-right:4px solid #b94625;
      }
      &:hover {
        border-top-right-radius:0px;
        border-bottom-left-radius:0px;
    
        &:before,&:after {
         width:100%;
          height:100%;
        }
      }
    }
// nav {
//   @include flex(row, space-between, center);
//   width: 100%;
//   height: 10vh;
//   background-color: teal;
// }