@import '../../styles/mixins';
@import '../../styles/variables';

.navigation-wrapper {
  background-color: $gray;
  z-index: 3;
  padding: 0 1.5rem;

  .navigation-header {
    @include flex(none, space-between, center);
    height: 73px;
    margin: auto;

    .navigation-links {
      .mobile-menu {
        @include flex(column, space-around, none);
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        padding: 0;
        right: 1.5rem;
        top: 20px;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      .bar-one,
      .bar-two,
      .bar-three {
        width: 2rem;
        height: 0.25rem;
        background: $white;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;
      }

      .bar-one {
        transform: translateX(0);
      }

      .bar-two {
        opacity: 1;
        transform: translateX(0);
      }

      .bar-three {
        transform: rotate(0);
      }
    }

    .open {
      .bar-one {
        transform: rotate(45deg);
      }
      .bar-two {
        opacity: 0;
        transform: translateX(20px);
      }
      .bar-three {
        transform: rotate(-45deg);
      }
    }
  }
}

h1 {
  color: $white;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}


img {
  width: 100px;
  height: 100px;
}

.button-menu-container {
  @include flex(row, flex-end, center);
}

.login-button {
  cursor:pointer;
  position:relative;
  padding:2px 40px;
  background:$white;
  font-size:1.2rem;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  transition:all 1s;
  border: solid 3px $black;
  margin-right: 48%;
  height: 37px;
    &:after, &:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid $white;
      transition:all 1s;
    }
    &:after {
      top:-1px;
      left:-1px;
      border-top:4px solid $dark-orange;
      border-left:4px solid $dark-orange;
    }
   &:before {
      bottom:-1px;
      right:-1px;
      border-bottom:4px solid $dark-orange;
      border-right:4px solid $dark-orange;
    }
    &:hover {
      border-top-right-radius:0px;
      border-bottom-left-radius:0px;
  
      &:before,&:after {
       width:100%;
        height:100%;
    }
  }
}