@import '../../styles/mixins';
@import '../../styles/variables';

.form-container,
form {
  @include flex(column, center, normal);
  margin-top: 1vh;
}

.form-container {
  margin-top: 3vh;
  margin-bottom: 2vh;
}

form {
  width: 40%;
  align-self: center;
  background-color: $gray;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px $light-gray;

  label {
  color: $white;
  margin-top: 1vh;
  margin-bottom: .5vh;
}

  h2 {
    font-size: 3vh;
    color: $white;
    text-align: center;
  }
}

.submit-button {
  color: $white;
  font-size: 2vh;
  margin-top: 1vh;
  width: 50%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: $teal;
  padding: 8px;
  &:hover{
    cursor: pointer;
  }
}

input[type=text],
input[type=email] {
  border: none;
  height: 3vh;
  border-radius: 10px;
}

input[type=file] {
  width: 44%;
  color: $white;
  border: none;
  &:hover{
    cursor: pointer;
  }
}

input[type=file]::file-selector-button {
  width: 8vw;
  color: $white;
  background-color: $teal;
  padding: 8px;
  border: none;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}

.profile-picture-preview {
  width: 30%;
  box-shadow: 10px 5px 5px rgb(46, 70, 70);
  margin-bottom: .5vh;
}

.wrong-video-message,
.wrong-image-message,
.file-size-message {
  color: #FFF;
  align-self: center;
  margin-bottom: 3.1vh;
}