@import '../../styles/mixins';
@import '../../styles/variables';

.details-container {
  @include flex(none, space-around, none);
}

video {
  width: 100%;
  height: 95%;
}

.winner-btn-container {
  @include flex(none, center, none);
  padding-top: 2.2rem;
  height: 12%;
  width: 100%;
}

.winner-btn {
  cursor:pointer;
  position:relative;
  padding:7px 20px;
  background: $white;
  font-size:1.7rem;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  transition:all 1s;
  border: solid 3px $black;
  &:after, &:before{
    content:" ";
    width:10px;
    height:10px;
    position:absolute;
    border :0px solid $white;
    transition:all 1s;
  }
  &:after {
    top:-1px;
    left:-1px;
    border-top:5px solid $gold;
    border-left:5px solid $gold;
  }
  &:before {
    bottom:-1px;
    right:-1px;
    border-bottom:5px solid $gold;
    border-right:5px solid $gold;
  }
  &:hover {
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;

    &:before,&:after {
      width:100%;
      height:100%;
    }
  }
}